/* Make sure certain Shoop forms show required after label */
div#billing div.required-field label.control-label::after,
div#shipping div.required-field label.control-label::after {
    content: " *";
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th {
    border-top: none;
}

/* Site colours */
body.kakaravaara {
    background-color: #9FC4D4;
}
nav.kakaravaara {
    background-color: #083D54;
}
div.container.kakaravaara {
    background-color: white;
}
