{% from "shoop/admin/macros/general.jinja" import content_block %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}
{% set reservable_form = form[form_def.name] %}

{% call content_block(_("Reservable"), "fa-calendar-o") %}
    {{ bs3.field(reservable_form.check_out_time) }}
    {{ bs3.field(reservable_form.check_in_time) }}
    {{ bs3.field(reservable_form.available_count) }}
{% endcall %}
