{% from "shoop/admin/macros/general.jinja" import content_block %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}

{% call content_block(_("Reservations"), "fa-calendar") %}
{#    {{ bs3.field(product_form.manufacturer) }}#}
{#    {{ bs3.field(product_form.purchase_price) }}#}
{#    {{ bs3.field(product_form.suggested_retail_price) }}#}
{% endcall %}
