{% extends "shoop/front/base.jinja" %}


{% block content_title %}
    {% trans %}Reservations{% endtrans %}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p>
                    {% trans %}Select months to search from{% endtrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="from_month">{% trans %}Starting month{% endtrans %}</label>
                    <input name="from" id="from_month" class="form_datetime form-control" size="16" type="text" placeholder="{% trans %}mm/yyyy{% endtrans %}" value="{{ start_month }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="to_month">{% trans %}End month{% endtrans %}</label>
                    <input name="to" id="to_month" class="form_datetime form-control" size="16" type="text" placeholder="{% trans %}mm/yyyy{% endtrans %}" value="{{ end_month }}">
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var dates = {{ reserved_days|safe }};
            $(window).ready(function() {
                $("#from_month").datetimepicker({
                    format: "mm/yyyy",
                    weekStart: 1,
                    autoclose: true,
                    startView: "year",
                    minView: "year",
                    language: "fi",
                    initialDate: moment.tz("{{ start_date }}", "Europe/Helsinki"),
                    startDate: moment().startOf("month").tz("Europe/Helsinki").toDate()
                });
                $("#to_month").datetimepicker({
                    format: "mm/yyyy",
                    weekStart: 1,
                    autoclose: true,
                    startView: "year",
                    minView: "year",
                    language: "fi",
                    initialDate: moment.tz("{{ end_date }}", "Europe/Helsinki"),
                    startDate: moment().startOf("month").tz("Europe/Helsinki").toDate()
                }).change(function() {
                    $("body").addClass("loading");
                    var from = $("#from_month").val();
                    var to = $("#to_month").val();
                    window.location = '{{ url("reservations:reservable.search") }}?start='+moment(from, "MM/YYYY").format("YYYY-MM")+'&end='+moment(to, "MM/YYYY").format("YYYY-MM");
                });
            });
        </script>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <p>
                    {% trans %}Cottages and their reserved periods.{% endtrans %}
                </p>
                <p>
                   {% trans %}To reserve a cottage, click on a free date in the calendar, type in the number of days and click 'Reserve'. Note! Dates in red are <strong>reserved</strong>.{% endtrans %}
                </p>
            </div>
        </div>

        {% for reservable in reservables %}
            {% set sku = reservable.product.sku|replace("-", "_") %}
            <hr>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-6">
                    <div class="row" id="reservables">
                        <div class="col-md-2">
                            <div style="width: 140px;">
                                <div class="text-center" style="padding-left: 5px;">
                                    <h3 style="margin-top: 0;">{{ reservable.product.name }}</h3>
                                </div>
                                <div class="text-center" style="border: solid 1px; width:140px; height: 140px; margin: 0 5px; border-radius: 3px; cursor: pointer;">
                                    <a href="{{ url("shoop:product", pk=reservable.product.id, slug=reservable.product.slug) }}">
                                        {% if reservable.product.primary_image %}
                                            <img src="{{ reservable.product.primary_image|thumbnail(size=(140, 140), crop="smart", upscale=True)}}" class="img-responsive" alt="{{ reservable.product.name }}">
                                        {% else %}
                                            <i style="font-size-adjust: 2.7; padding-top: 65px; padding-right: 5px;" class="glyphicon glyphicon-home"></i>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10" style="margin-top: 15px;">
                            <div class="pull-right">
                                {% set price = reservable.product.get_price(request) %}
                                {{ _("Price/night (from)") }}: <strong>{{ price|money }}</strong>
                            </div>
                            <div class="clearfix"></div>
                            <div style="margin-top: 6px;">
                                <dl class="dl-horizontal">
                                    {% for attribute in reservable.product.attributes.all() %}
                                        {% if attribute.attribute.identifier in visible_attributes %}
                                            <dt>{{ attribute.name }}</dt>
                                            <dd>{{ attribute.formatted_value }}</dd>
                                        {% endif %}
                                    {% endfor %}
                                </dl>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12 hidden text-center reservation-control">
                                <form role="form" method="post" action="{{ url("shoop:basket") }}">
                                    <input type="hidden" name="command" value="add">
                                    <input type="hidden" name="product_id" value="{{ reservable.product.id }}">
                                    <div class="form-group">
                                        <label for="{{ sku }}-start">{% trans %}Arrival Date{% endtrans %}</label>
                                        <input class="form-control" name="reservation_start" type="date" id="{{ sku }}-start">
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ sku }}-days">{% trans %}Number of nights{% endtrans %}</label>
                                        <input class="form-control" name="quantity" type="number" value="2" id="{{ sku }}-days" min="2">
                                    </div>
                                    <div class="form-group pull-left" style="width: 40%;">
                                        <label for="{{ sku }}-persons">{% trans %}Persons{% endtrans %}</label>
                                        <input class="form-control" name="persons" type="number" value="1" id="{{ sku }}-persons" min="1">
                                    </div>
                                    <div class="pull-right text-info" style="width: 40%;">
                                        <p>{% trans %}Fill in the number of persons (6 years or older). This is needed for bedding, when included in the cottage price. Please check cottage details.{% endtrans %}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div id="{{ sku }}-error-container" class="text-center hidden">
                                        <p class="text-danger">{% trans %}Chosen period is not available.{% endtrans %}</p>
                                    </div>
                                    <div id="{{ sku }}-price-container" class="text-center hidden">
                                        <p class="text-info">{% trans %}Price for chosen period:{% endtrans %} <span id="{{ sku }}-period-price"></span></p>
                                    </div>
                                    <button id="{{ sku }}-submit" type="submit" class="btn btn-primary btn-block">{% trans %}Reserve{% endtrans %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {% for month in months %}
                        <div style="display: inline-block;" id="reservable-dates-{{ sku }}-{{ month }}"></div>
                        <script>
                            $(document).ready(function() {
                                var reservedDates = [];
                                for (var i=0; i<dates.{{ sku }}.length; i++) {
                                    reservedDates.push(new Date(dates.{{ sku }}[i]));
                                }
                                $("#reservable-dates-{{ sku }}-{{ month }}").datetimepicker({
                                    startView: 2,
                                    language: 'fi',
                                    minView: 2,
                                    format: 'dd.mm.yyyy',
                                    weekStart: 1,
                                    maxView: 3,
                                    clearBtn: false,
                                    initialDate: '{{ month }}-01',
                                    specialDates: [
                                        {
                                            className: "reserved",
                                            dates: reservedDates
                                        }
                                    ],
                                    datesHaveData: true,
                                    startDate: moment().add(2, "days").toDate()
                                });
                                $("#reservable-dates-{{ sku }}-{{ month }} .datetimepicker td").removeClass("active");
                                $("#reservable-dates-{{ sku }}-{{ month }} .datetimepicker").off("click");
                                $("#reservable-dates-{{ sku }}-{{ month }} .day:not('.reserved'):not('.disabled')").click(function (ev) {
                                    // Transfer start date to correct input and show the form
                                    var t = $(ev.currentTarget);
                                    $("#{{ sku }}-start").val(t.data("date"));
                                    $("#{{ sku }}-start").closest(".reservation-control").removeClass("hidden");
                                    $("#{{ sku }}-days").trigger("change");
                                });
                            });
                        </script>
                    {% endfor %}
                    <script>
                        $(document).ready(function() {
                            function set{{ sku }}Button(status) {
                                $("#{{ sku }}-submit").prop("disabled", status);
                            }

                            function set{{ sku }}Error(status) {
                                if (status) {
                                    $("#{{ sku }}-error-container").removeClass("hidden");
                                } else {
                                    $("#{{ sku }}-error-container").addClass("hidden");
                                }
                            }

                            function set{{ sku }}Price(price) {
                                if (price) {
                                    $("#{{ sku }}-period-price").html(price.total);
                                    $("#{{ sku }}-price-container").removeClass("hidden");
                                } else {
                                    $("#{{ sku }}-price-container").addClass("hidden");
                                    $("#{{ sku }}-period-price").html("");
                                }
                            }

                            function check{{ sku }}Period() {
                                // Lookup backend to see if new range is free
                                if ($("#{{ sku }}-days").val() <= 0) {
                                    set{{ sku }}Button(true);
                                } else {
                                    $.getJSON(
                                        '{{ url("reservations:check_period") }}?reservable_id={{ reservable.id }}&start=' + $("#{{ sku }}-start").val()  + '&days=' + $("#{{ sku }}-days").val(),
                                        function (data) {
                                            if (data && data.result === true) {
                                                set{{ sku }}Button(false);
                                                set{{ sku }}Error(false);
                                                if (data.price && data.price.total) {
                                                    set{{ sku }}Price(data.price);
                                                }
                                            } else {
                                                set{{ sku }}Button(true);
                                                set{{ sku }}Error(true);
                                                set{{ sku }}Price(false);
                                            }
                                        }
                                    ).fail(function () {
                                        set{{ sku }}Button(true);
                                        set{{ sku }}Price(false);
                                    });
                                }
                            }
                            $("#{{ sku }}-days").change(check{{ sku }}Period);
                            $("#{{ sku }}-days").keyup(check{{ sku }}Period);
                        });
                    </script>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal spinner"></div>
{% endblock %}


{% block extrameta %}
    <!-- Moment.js -->
    <script type="text/javascript" src="{{ static("js/moment-with-locales.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/moment-timezone-with-data.min.js") }}"></script>

    <!-- Include Datetimepicker -->
    <script type="text/javascript" src="{{ static("js/bootstrap-datetimepicker.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/locales/bootstrap-datetimepicker.fi.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static("css/bootstrap-datetimepicker.min.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static("css/reservations.css") }}" />
{% endblock %}
