{% extends "shoop/front/base.jinja" %}


{% block content %}
    <div id="searchrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
        <i class="fa fa-calendar"></i>
        <span></span> <b class="caret"></b>
    </div>

    <script type="text/javascript">
    $(function() {
        $('#searchrange span').html(moment().format('MMMM D, YYYY') + ' - ' + moment().add(30, "days").format('MMMM D, YYYY'));

        $('#searchrange').daterangepicker({
            format: 'DD.MM.YYYY',
            startDate: moment(),
            endDate: moment().add(30, "days"),
            dateLimit: { days: 180 },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
               'Today': [moment(), moment()],
               'Next 7 Days': [moment().add(6, 'days'), moment()],
               'Next 30 Days': [moment().add(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Next Month': [moment().add(1, 'month').startOf('month'), moment().add(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Search',
                cancelLabel: 'Cancel',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 1
            }
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            $('#searchrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });
    });
    </script>

    <div id="searchresults">

    </div>
{% endblock %}


{% block extrameta %}
    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker-bs3.css" />
{% endblock %}
