{%- import "shoop/front/macros.jinja" as macros with context -%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://{{ request.get_host() }}{{ static("favicon.ico") }}" />

    {# jQuery #}
    <script src="{{ static("js/jquery-1.11.3.min.js") }}"></script>

    {# Include all Bootstrap JavaScript libraries #}
    <script src="{{ static("js/bootstrap.min.js") }}"></script>

    {% block extrameta %}{% endblock %}

    <title>{{ request.shop.public_name }} &ndash; {% block title %}{% endblock %}</title>

    {# Include Bootstrap styles #}
    {# Not vanilla bootstap, from here: //maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cosmo/bootstrap.min.css #}
    <link rel="stylesheet" href="{{ static("css/bootstrap.min.css") }}">

    <link rel="stylesheet" href="{{ static("css/kakaravaara.css") }}">
</head>
<body class="kakaravaara">
    {% if request.path == "/" %}
        {% include "kakaravaara/includes/facebook.jinja" %}
    {% endif %}
    <header role="banner">
        {% include "shoop/front/includes/_navigation.jinja" %}
    </header>

    <div class="container kakaravaara">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <main class="main-content" role="main">

            {% block before_content_title %}{% endblock %}

            {% if self.content_title() %}
                <div class="page-header">
                    <h1>{% block content_title %}{% endblock %}</h1>
                </div>
            {% endif %}

            <div class="page-content">
                {% block content %}{% endblock %}
            </div>

        </main>

    </div>

    {# Include all Extra JavaScript #}
    {% block extrajs %}{% endblock %}

</body>
</html>
