from kakaravaara.settings.base import *

# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/1.8/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ secret_key }}'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

ALLOWED_HOSTS = ["{{ hostname }}"]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': "{{ db_name }}",
        "USER": "{{ db_user }}",
        "PASSWORD": "{{ db_password }}",
        "HOST": "{{ db_host }}",
    }
}

{% if kakara_dummy_cache %}
CACHES = {'default': {'BACKEND': 'django.core.cache.backends.dummy.DummyCache'}}
{% endif %}

{% if kakara_email_host %}
EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST = "{{ kakara_email_host }}"
EMAIL_HOST_PASSWORD = "{{ kakara_email_password }}"
EMAIL_HOST_USER = "{{ kakara_email_user }}"
EMAIL_PORT = {{ kakara_email_port }}
EMAIL_USE_TLS = {{ kakara_email_use_tls }}
DEFAULT_FROM_EMAIL = "{{ kakara_email_from }}"
{% endif %}

KAKARAVAARA_SITE_URL = "https://{{ hostname }}"
